body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.second-hand {
  background-color: red;
  width: 1%;
  height:35%;
  transform-origin: 0% 100%;
  border-radius: 10%;
  /* transition: transform 1000ms cubic-bezier(.32,0,.07,1); */
  left: 50%;
  top: 15%;
  position: absolute;
  -webkit-animation: rotate 43200s infinite steps(60);
          animation: rotate 43200s infinite steps(60);
}

.minute-hand {
  background-color: rgb(132, 255, 61);
  width: 1%;
  height:45%;
  transform-origin: 0% 100%;
  border-radius: 10%;
  /* transition: transform 1000ms cubic-bezier(.32,0,.07,1); */
  left: 50%;
  top: 5%;
  -webkit-animation: rotate 3600s infinite steps(60);
          animation: rotate 3600s infinite steps(60);
}

.hour-hand {
  background-color: rgba(252, 255, 61, 1);
  width: 1%;
  height:40%;
  transform-origin: 0% 100%;
  border-radius: 10%;
  /* transition: transform 1000ms cubic-bezier(.32,0,.07,1); */
  left: 50%;
  top: 10%;
  -webkit-animation: rotate 60s infinite steps(60);
          animation: rotate 60s infinite steps(60);
}

.minute-hand, .hour-hand, .second-hand {
  z-index: 50;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right:0;
  text-align: center;
}

.analog-base {
  border-radius: 50%;
  background: rgb(148, 148, 148) url(./images/ios_clock.svg) no-repeat center;
  width: 200px;
  height: 200px;
  -webkit-filter: drop-shadow(0px 0px 5px rgb(117, 102, 103));
          filter: drop-shadow(0px 0px 5px rgb(117, 102, 103));
  border: 7px solid rgb(66, 66, 66);
  background-size: 95%;
  position: relative;
}

.bucket {
  width:100%;
  height:100%;
  text-align:center;
  display: grid;
  position: relative;
}

.analog-base:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.digital-base {
  width:200px;
  height:60px;
  background-color: rgb(148, 148, 148);
}