
.digital-base {
  width:400px;
  height:120px;
  background-color: rgb(148, 148, 148);
  border-radius: 10px 10px 10px 10px;
}

.digital-time {
  position: relative;
}

.digital-time-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  font-weight: 900em;
}

.digital-time-text > h1 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow: 
						3px 3px #ff1f8f,
						10px 10px #000000;
}